<mat-toolbar color="light" uk-sticky>
  <mat-toolbar-row>
    <span class="Gfont">Covid19</span>
    <span class="example-spacer"></span>
    <div class="uk-margin Gfont uk-text-small">
      <input class="uk-input uk-search-input uk-h6" type="text" [(ngModel)]="searchCountry" placeholder="Search ...">
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>sort</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>


<a href="/src/assets/apk/app-release.apk">Install apk</a>

<mat-menu #menu="matMenu">
  <div *ngFor="let state of states">
    <button mat-menu-item (click)="onseSelectMenu(state)"><span class="Gfont">{{state | titlecase}}</span></button>
  </div>
</mat-menu>

<div *ngIf="listCountry =='' && isNotData == false; else thenBlock">
  <span class="uk-position-center uk-text-secondary" uk-spinner></span>
</div>
<div *ngIf="isNotData" class="uk-position-center">
  <button mat-raised-button (click)="refreshPage()">Refresh</button>
</div>
<ng-template #thenBlock>
  <div class="uk-column-1-1@s uk-column-1-2@m uk-column-1-2@l uk-column-1-2@xl">
    <div *ngFor="let item of listCountry | filter:searchCountry | sortBy:'desc':menuItemSalect">
      <div class="uk-flex uk-padding-small uk-grid-match" uk-grid>
        <div class="uk-card uk-card-default uk-card-body">
          <h2 class="uk-card-title Gfont">{{item.country | titlecase}}</h2>
          <p class="Gfont">
            Peoples active : <span class="uk-text-warning">{{item.active}}</span> | Peoples cases : <span
              class="uk-text-warning">{{item.cases}}</span>
            | Peoples critical : <span class="uk-text-danger">{{item.critical}}</span> |
            Peoples deaths : <span class="uk-text-danger">{{item.deaths}}</span> | Peoples recovered : <span
              class="uk-text-success">{{item.recovered}}</span>
            | Peoples todayCases : <span class="uk-text-warning">{{item.todayCases}}</span> | Peoples todayDeaths
            : <span class="uk-text-danger">{{item.todayDeaths}}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div class="uk-position-bottom-right uk-position-fixed uk-padding-small">
  <!-- Scrol Back To Top -->
  <div *ngIf="isScrolled">
    <button class="animated flipInX" mat-fab color="light" (click)="toTop()" id="myBtn">
      <mat-icon>arrow_upward</mat-icon>
    </button>
  </div>
</div>